@CHARSET "UTF-8";

body{
    font-family:"brandon-grotesque", Helvetica, sans-serif;-webkit-font-smoothing:antialiased;
    
}

#main{
    background-color: aliceblue;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border: solid 1px;
    border-radius: 15px;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 4rem;
    
    
}

input[type=submit]{
	
	width : 20rem;
    border: 2px solid dimgrey;
    border-radius: 15px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1rem;
}

input[type=submit]:hover{
	border: 2px solid aqua;
    background-color: aqua;
}